
<div>Search :
  <form class="form-inline">
    <input type="search" ng-model="search">
  </form>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <th>username</th>
    <th>Email</th>
    <th>Age</th>
    <th>Status</th>
    <th>Action</th>
      </thead>
  <tbody>
    <tr ng-repeat="user in users | filter:search">
      <td>{{ user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td ng-show="user.status">Active</td>
      <td ng-hide="user.status">In-Active</td>
      <td><a href="#/view/{{user.id}}" class="btn btn-success">View</a></td>
    </tr>
  </tbody>
</table>
<hr>
